/**
* Mi Municipio al Dia


*/

#login_screen {
    margin-top: 120px;
    width: 400px !important;
    text-align: center;
}

#login_screen img {
    margin: 0 auto;
}

#login_screen input[type=submit] {
    width: 100%;
    margin-top: 20px;
}

body> header {
    background-color: darkslategrey;
    height: 30px;
    color: #EEE;
    line-height: 25px;
}

#connected_as {
    float: right;
    margin-right: 20px;
}

.form-control[readonly] {
    background-color: white !important;
}

td {
    vertical-align: middle !important;
}

#cuadros_dias {
    text-align: center;
}

.botones_dias {
    background-color: #E3E3E3;
    height: 60px;
    width: 80px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 0;
    font-size: 14px;
}

#div_enviar_programa {
    text-align: center;
    margin-bottom: 50px;
    color: red;
}

#enviar_programa {
    margin: 20px auto;
    width: 300px;
    line-height: 40px;
    color: white;
}


/**
* BOOTSTRAP OVERWRITE
*
*/

.container-fluid {
    margin-left: 2.5em;
    margin-right: 2.5em;
}